<head>
    <div class="px-3 py-2 " style="background-color: rgba(148, 187, 151, 0.5);>
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        {{!-- <h2 href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-coffee text-white text-decoration-none">
        <svg class="bi d-block mx-coffee mb-1 " width="24" height="24"></svg>
        {{title}}          
        </h2>      --}}
    <a type="button" class="btn btn-success filled marginLeft " href="/" class="nav-link text-white">
   Back
    </a>        
    </div>
    </div>

</head>
 
</br>
<div class="container-fluid">
    <div class="row rowBox" >
        <div class="row">
            <div class="table-container">
                <table class="table" style="width:100%">
                    <thead id="colored-table">
                        <th>Order Id</th>
                        <th>Coffee Id</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Color</th>
                        <th>Importer Name</th>
                        <th>AssetType</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {{#each itemList}}
                        <tr>
                            <td>{{this.value.orderId}}</td>
                            <td>{{this.value.coffeeId}}</td>
                            <td>{{this.value.Make}}</td>
                            <td>{{this.value.Model}}</td>
                            <td>{{this.value.Color}}</td>
                            <td>{{this.value.ImporterName}}</td>
                            <td>{{this.value.assetType}}</td>
                            <td><button class="btn btn-info filled" onClick="matchOrder('{{this.value.orderId}}','{{this.value.coffeeId}}');">Match Order</button></td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script type="text/javascript" src='/javascripts/main.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

