<div class="px-3 py-2 " style="background-color: rgba(148, 187, 151, 0.5);>
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        {{!-- <h2 href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-coffee text-white text-decoration-none">
        <svg class="bi d-block mx-coffee mb-1 " width="24" height="24"></svg>
        {{title}}          
        </h2>      --}}
    <a type="button" class="btn btn-success filled marginLeft " href="/" class="nav-link text-white">
   Back
    </a>        
    </div>
    </div>

<div class="jumbotron jumbotronMvd jumbotron-fluid">
  <div class="container">
    <center><h1 class="display-4">Processor</h1></center>
  </div>

<div class="container-fluid">
    <div class="row rowBox" >
      <div >
        <div class="coffeed-header" style="background-color:rgb(173, 186, 192)">
            <legend class="text-center">Complete Coffee List</legend>
        </div>
        <div class="coffeed-body" >
          <div class="table-container">
              <table class="table" style="width:100%">
                  <thead id="colored-table">
                      <th>CoffeeId</th>
                      <th>AssetType</th>
                      <th>Color</th>
                      <th>DOM</th>
                      <th>Make</th>
                      <th>Model</th>
                      <th>Owner</th>
                      <th>Status</th>
                      <th> </th>
                  </thead>
                  <tbody>
                      {{#each itemList}}
                      <tr>
                          <td>{{this.Key}}</td>
                          <td>{{this.Record.assetType}}</td>
                          <td>{{this.Record.color}}</td>
                          <td>{{this.Record.dateOfManufacture}}</td>
                          <td>{{this.Record.make}}</td>
                          <td>{{this.Record.model}}</td>
                          <td>{{this.Record.ownedBy}}</td>
                          <td>{{this.Record.status}}</td>
                          <td><button class="btn btn-danger filled" onClick="getItemHistory('{{this.Key}}');">Track Batch</button></td>
                      </tr>
                      {{/each}}
                  </tbody>
              </table>
          </div>
        </div>    
      </div>
  </div>
</div>
</br>
<div class="container-fluid">
    <div class="row rowBox" >
        <div class="col-md-12 col-sm-12">
        <div >
        <div class="coffeed-header" style="background-color:wheat">
            <legend class="text-center">Already Registered</legend></br>
        </div>
        <div class="coffeed-body"></div>  
        <div class="row rowBox" > 
        <div class="col-md-12 col-sm-12">
        <div class="table-container">
            <table class="table" style="width:100%">
                <thead id="colored-table">
                    {{!-- <th>Coffee Id</th> --}}
                    <th>CoffeeId</th>
                    {{!-- <th>Next Station</th> --}}
                    <th>Color</th>
                    <th>DOM</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th> </th>
                </thead>
                <tbody>
                    {{#each itemList}}
                    {{#checkRegistered this.Record.status "Registered"}}
                    <tr>
                        <td>{{this.Key}}</td>
                        <td>{{this.Record.color}}</td>
                        <td>{{this.Record.dateOfManufacture}}</td>
                        <td>{{this.Record.make}}</td>
                        <td>{{this.Record.model}}</td>
                        <td>{{this.Record.ownedBy}}</td>
                        <td>{{this.Record.status}}</td>
                        <td>
                            <button type="button" class="btn btn-danger filled" data-toggle="modal" data-target="#registerModal" data-id={{this.Key}}>Re-Register</button></td>
                        </td>
                    </tr>
                    {{/checkRegistered}}
                    {{/each}}
                </tbody>
            </table>
        </div>
        </div>
        </div>
        </div>
        </div>
</div>
</div>
</br>
<div class="container-fluid">
    <div class="row rowBox" >        
        <div class="col-md-12 col-sm-12">
        <div >
        <div class="coffeed-header" style="background-color:wheat">
            <legend class="text-center">Pending For Registration</legend></br>
        </div>            
        <div class="table-container">
            <table class="table" style="width:100%">
                <thead id="colored-table">
                    <th>CoffeeId</th>
                    <th>AssetType</th>
                    <th>Color</th>
                    <th>DOM</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th> </th>
                </thead>
                <tbody>
                    {{#each itemList}}
                    {{#ifbothequals this.Record.status "In Factory" "Assigned to a importer"}}
                    <tr>
                        <td>{{this.Key}}</td>
                        <td>{{this.Record.assetType}}</td>
                        <td>{{this.Record.color}}</td>
                        <td>{{this.Record.dateOfManufacture}}</td>
                        <td>{{this.Record.make}}</td>
                        <td>{{this.Record.model}}</td>
                        <td>{{this.Record.ownedBy}}</td>
                        <td>{{this.Record.status}}</td>
                        <td>
                            <button type="button" class="btn btn-danger filled" data-toggle="modal" data-target="#registerModal" data-id={{this.Key}}>Register</button>
                        </td>
                    </tr>
                    {{/ifbothequals}}
                    {{/each}}

                </tbody>
            </table>
        </div>
        </div>
        </div>    
    </div>        
</div>
<div id="registerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Register Coffee</h4>
      </div>
      <div class="modal-body">
                <div class="form-modal">
                <div class="coffeed-body">
                    <form id="manForm">
                        <div class="row" >
                            <div class="col-md-12 col-sm-12" class="form-group">
                            <a>QVinNumb</a>
                            <label for="QVinNumb" class="form-label mt-4"></label>
                            <input type="text" class="form-control" id="QVinNumb" aria-describedby="QVinNumb" >
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-12 col-sm-12" class="form-group">
                            <a>Coffee Owner</a>
                            <label for="coffeeOwner" class="form-label mt-4"></label>
                            <input type="text" class="form-control" id="coffeeOwner" aria-describedby="coffeeOwner" >
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-12 col-sm-12" class="form-group">
                            <a>Registration Number</a>
                            <label for="regNumber" class="form-label mt-4"></label>
                            <input type="text" class="form-control" id="regNumber" aria-describedby="regNumber" >
                            </div>
                        </div>

                        </br>
                        <div class="row" >
                            <div class="col-md-12 col-sm-12">
                            <button type="button" onclick="RegisterCoffee(event)" class="btn btn-fill btn-secondary rounded-pill">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onClick="reloadWindow()"data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
{{!-- $(function () { --}}
  $('#myModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var QVinNumb = button.data('QVinNumb'); 
    var modal = $(this);
    modal.find('#QVinNumb').val(QVinNumb);
  });
{{!-- }); --}}
</script>

</div>
</br>
<script type="text/javascript" src='/javascripts/main.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
